<nav>
    <form action="/search">
        <input type="text" name="search Medium">
    </form>

    <a href="/write">Write</a>
    <a href="/profile">Profile</a>
    <a href="/lists">Lists</a>
    <a href="/stories">Stories</a>
    <a href="/settings">Settings</a>
    <a href="/signout">Signout</a>

</nav>