<%- include("partials/header")%>

<form action="/change-password/<%= id%>" method="post">
    <input type="password" name="password" placeholder="********" />
    <button>Reset Password</button>
</form>

<%- include("partials/footer")%>
