<%- include("partials/header")%>

<form action="/forget-password" method="post">
    <input type="email" name="email" placeholder="example@email.com" />
    <button>Enter Registered Email</button>
</form>

<%- include("partials/footer")%>
