<%- include("partials/header")%>

<form action="/reset-password" method="post">
    <input type="password" name="oldpassword" placeholder="********" />
    <input type="password" name="newpassword" placeholder="********" />
    <button>Reset Password</button>
</form>

<%- include("partials/footer")%>
