<%- include("partials/header")%>

    <form action="/signin" method="post">
        <input type="email" name="email" placeholder="john@example.com">
        <input type="password" name="password" placeholder="********">
        <button>Sign In</button>
    </form>

    <%- include("partials/footer")%>