<%- include("partials/header")%>

    <form action="/signup" method="post">
        <input type="email" name="email" placeholder="john@example.com" />
        <input type="text" name="name" placeholder="John Doe" />
        <input type="text" name="username" placeholder="johndoe" />
        <input type="password" name="password" placeholder="********" />
        <button>Sign Up</button>
    </form>

    <%- include("partials/footer")%>