<%- include("partials/header")%>

<h1>Write Article</h1>
<div id="editorjs"></div>
<button>Save Article</button>

<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>

<script src="https://cdn.jsdelivr.net/npm/@editorjs/image@2.3.0"></script>
<script src="/javascripts/edit.js"></script>

<%- include("partials/footer")%>
